.formContainer {
  width: 100%;
  padding: 1rem;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  margin: 0 0 30px 0;
}

.title {
  font-weight: 400;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 1024px) {
  .formContainer {
    margin: 1rem;
  }
}