.container {
  width: 100%;
  padding: 10px;
}

.formSection {
  width: 100%;
}

.companyList {
  
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    min-height: 100vh;
    /* border: 1px solid #eee; */
    margin: 0 auto;
  }

  .formSection {
    display: flex;
    flex-direction: row;
  }
}